<div class="page-content page-container" id="page-content">
  <div class="padding">
      <div class="row ">
          <div class="col-lg-12">
              <div class="card">
                  <div class="card-body">
                    <div class="account-logo">
                      <a href="javascript:"><img src="assets/img/w_logo.png" alt="Dreamguy's Technologies"></a>

                      &nbsp;&nbsp;<small>Walton - Census Suport Ticket </small>

                      <!-- <small class="text-justify" id="time"></small>  -->
                    </div>


                      <h3 class="text-center"> Search By Ticket Number  </h3>


                      <input (input)="searchByCode($event.target.value)" type="text" class="form-control floating" placeholder=" Enter Ticket No. "> <br> <br>
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead>
                                  <tr>
                                      <th> Ticket No </th>
                                      <th>Problem Type</th>
                                      <th>Phone</th>
                                      <th>Status</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let thisObj of listData">
                                      <td>{{thisObj.code}}</td>
                                      <td>{{thisObj.problemType}}</td>
                                      <td>{{thisObj.deviceUserPhone}}</td>
                                      <td>
                                        <label class="badge badge-success">{{thisObj.status}}</label>
                                      </td>
                                  </tr>

                              </tbody>
                          </table>
                      </div>
                      <!-- Back to list a tag -->
                     <div class="col-auto float-right ml-auto">
                      <a class="btn add-btn" routerLink="/ticket/bbs/list"><i class="fa fa-share"></i> Back To List</a>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
